---
import Layout from "@/layouts/Layout.astro";
import { Counter } from "@/components/counter";
import { Menu } from "@/components/menu";
---

<Layout title="标题设置">
  <div>
    <Menu />
  </div>
  <main class="flex justify-center items-center flex-col">
    <h1 class="text-blue-500">
      Welcome to <span class="text-gradient">Astro</span>
    </h1>
    <Counter />
  </main>
</Layout>
